.overlay {
    position: fixed !important;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .contentDraw {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 80%;
    margin-top: 24px;
    position: fixed !important;
    z-index: 1000;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .contentWrap {
    padding: 16px;
    background-color: #292929;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    flex: 1;
    height: 100%;
  }
  
  .line {
    margin-left: auto;
    margin-right: auto;
    width: 3rem;
    height: 6px;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color: white !important;
  }
  
  .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    padding-bottom: 4rem;
    height: 100%;
  }
  