.Login {
  background-color: #292929;
  border-radius: 1.5rem;
}

.SideBar {
  background-color: #1E1E1E;
  border-radius: 20px;
}

.SideBar .ImageProfile {
  width: 50%;
}

.SideBar .TagProfession {
  background-color: hsl(0, 0%, 16%);
  border-radius: 8px;
  font-size: x-small;
}

.SideBar .TagsInformation {
  font-size: smaller;
}

.SideBar .TagsInformation .IconInformation {

  aspect-ratio: 1/1;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background-color: #292929;
}

.Portfolio {
  width: 79%;
  height: 100%;
  background-color: #1E1E1E;
  border-radius: 20px;
  position: relative;
}

.Portfolio .Menu-Portfolio {
  background-color: #292929;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px 20px 0px 20px;
}

.ContentPortfolio {
  gap: 20px 0px;
  height: -webkit-fill-available;
  overflow-y: auto; /* Permite el desplazamiento vertical si es necesario */
}

.ItemContentPortfolio {
  width: 30%;
  margin-bottom: 20px;
}

.ItemContentPortfolio img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 16/12;
  object-fit: cover;
  margin-bottom: 15px;
}

.ItemContentPortfolio p {
  font-size: smaller;
}

.AboutHobbies {
  background-color: #292929;
  border-radius: 20px;
  width: 48%;
}

.IconHobbies {
  color: #D4BA70;
}

.Testimonies {
  background-color: #292929;
  border-radius: 20px;
  width: 100%;
}

.ImageTestimonies {
  width: 100px;
}






.timelines {
  display: flex;

}

.timeline-title {
  font-size: 1em;
  font-weight: bold;
}

.timeline-item {
  margin-bottom: 2em;
}

.timeline-item h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  position: relative;
}

.timeline-item h3::before {
  content: "";
  position: absolute;
  left: -2.35em;
  background-color: #D4BA70;
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  transform: translate(-0.5px, 0.2em);
}

.timeline-items {
  margin: 2em;
  padding: 0.01em 0 3em 2em;
  border-left: 1px solid #D4BA70;
}

.timeline-item {
  margin-top: -0.3em;
}

.timeline-item time {
  display: block;
  float: left;

  padding: 0.2em 0.4em;
}

.timeline-item>* {
  margin: 0.5em 0;
}

.timeline-item .location {
  clear: both;
  font-size: 0.85em;
  font-style: italic;
}







.skills {
  background-color: #292929;
  border-radius: 20px;
}







.Map {
  overflow: hidden;
  position: relative;
  height: 50dvh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 0;
}

.leaflet-layer,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}


.form-floating>.form-control-plaintext~label,
.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  color: white !important;

}

.form-floating>label {
  color: white !important;
  left: 10px !important;
}

.form-control {
  background-color: transparent !important;
}

.form-control:focus {
  border-color: gray !important;
  box-shadow: 0 0 0 .25rem rgba(189, 198, 211, 0.25) !important;
}

.form-floating>.form-control-plaintext~label::after,
.form-floating>.form-control:focus~label::after,
.form-floating>.form-control:not(:placeholder-shown)~label::after,
.form-floating>.form-select~label::after {
  color: white !important;
  background-color: transparent !important;
}



.ContentBlog {
  gap: 20px 0px;
  height: -webkit-fill-available;
  position: absolute;
  overflow-y: scroll;
}


.btn-primary {
  --bs-btn-bg: #D4BA70 !important;
  --bs-btn-border-color: #D4BA70 !important;
  --bs-btn-color: #1E1E1E !important;
  --bs-btn-hover-bg: #cba754 !important;
  --bs-btn-hover-border-color: #cba754 !important;
  --bs-btn-hover-color: #1E1E1E !important;
  --bs-btn-active-bg: #f2ebd3 !important;
  --bs-btn-active-border-color: #f2ebd3 !important;
  --bs-btn-active-color: #1E1E1E !important;
}

.btn-outline-primary{
  --bs-btn-color: #D4BA70 !important;
  --bs-btn-border-color: transparent !important;
  --bs-btn-hover-color: #D4BA70 !important;
  --bs-btn-hover-bg: transparent !important;
  --bs-btn-hover-border-color: #D4BA70 !important;
  --bs-btn-active-bg: transparent !important;
  --bs-btn-active-border-color: #D4BA70 !important;
  --bs-btn-active-color: #D4BA70 !important;
}

.text-danger {
  --bs-danger-rgb: 255, 0, 0 !important;

}

.modal-content {
  background-color: #292929 !important;
  color: white !important;
}

.xyz{
  position: fixed;
  top: 50%;
  left: 50%;
}



.rs-input{
  background-color: #292929 !important;
  color: white !important;
  height: calc(3.5rem + calc(var(--bs-border-width) * 2));
}

.rs-input:focus, .rs-input:hover:not(:disabled){
  border-color: gray !important;
  box-shadow: 0 0 0 .25rem rgba(189, 198, 211, 0.25) !important;
}

.rs-input:focus{
  border-color: gray !important;
  box-shadow: 0 0 0 .25rem rgba(189, 198, 211, 0.25) !important;
  outline: 0 !important;
}


.editable-image {
  position: relative;
  border-radius: 100%;
  background: #D4BA70;
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: 150px;
  overflow: hidden;
}

.editable-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.editable-image .edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #292929d5;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.editable-image:hover .edit-icon {
  opacity: 1;
  cursor: pointer;
}


.alert-primary {
 
  color: rgb(203, 167, 84) !important;
  background-color:  rgb(54, 29, 18) !important ;
  --bs-alert-border-color:  rgb(117, 69, 43) !important;
  --bs-primary-border-subtle:  rgb(117, 69, 43)   !important;
}

/* Para Chrome, Edge y Opera */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Para Firefox */
input[type="date"] {
  -moz-appearance: textfield;
}

/* Para Internet Explorer 11 */
input[type="date"]::-ms-clear {
  display: none;
}


.bottom-nav{
  background-color: #292929 !important;
  border-top: 0px  !important;
  border-radius: 10px 10px 0px 0px !important;
  z-index: 1000 !important;
  height: 10dvh !important;
}
.bottom-nav .bottom-nav-item {
  border-radius: 10px 10px 0px 0px !important; 
}
.bottom-nav .bottom-nav-item.active{
  border-radius: 10px 10px 0px 0px !important;  
}
.Home {
  height: 100% !important;
}
/* Media queries */

@media (max-width: 600px) {
  body {
    background-color: #1e1e1e  !important;
  }

  * {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }
  
  *::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
    display: none !important;
  }

  .Home {
    height: 90dvh !important;
  }

  .SideBar {
    border-radius: 0px !important;
    overflow-y: scroll;
  }

  .SideBar .TagProfession{
    font-size:smaller;
  }

  .SideBar .ImageProfile {
    width: 60%;
  }

  .SideBarName{
    font-size:xx-large;
  }

  .SideBarInfoText{
    font-size:larger;
  }
}